.container {
  isolation: isolate;
  position: relative;
  padding: 4px 6px;
  text-align: center;
  font: inherit;
  color: #000;
  background: #c3c3c3;
  border-width: 1px;
  border-style: solid;
  border-color: #fff #000 #000 #fff;
  cursor: default;
}

.container::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #c3c3c3 #828282 #828282 #c3c3c3;
}

.container.bold {
  font-weight: bold;
  letter-spacing: -0.012ex;
}

.container:active,
.container.active {
  background: #e3e3e3;
  border-color: #000 #fff #fff #000;
}
.container:active::before,
.container.active::before {
  border-color: #828282 #c3c3c3 #c3c3c3 #828282;
}

.container:focus {
  outline: none;
}
.container:focus::after {
  content: '';
  position: absolute;
  inset: 3px;
  border: 1px dotted #000;
}