.input {
  display: none;
}

.indicator {
  isolation: isolate;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  text-align: center;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #828282 #fff #fff #828282;
}

.indicator::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #000 #c3c3c3 #c3c3c3 #000;
}

.input:checked + .indicator::after {
  content: '\2713';
  line-height: 10px;
  font-size: 16px;
}