.container {
  position: sticky;
  z-index: 9000;
  left: 0;
  right: 0;
  top: calc(100% - 36px);
  padding: 4px 3px 3px;
  background: #c3c3c3;
}

.container::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  border-top: 1px solid #ffffff;
}