.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px 2px 2px;
  background: #c3c3c3;
}

.container::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  border-top: 1px solid #ffffff;
}