.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100%;
}

.input {
  flex: 0;
}

.keypad {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  margin-top: 12px;
}
