.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 1 0;
  overflow: auto;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #828282 #c3c3c3 #c3c3c3 #828282;
}

.message {
  display: flex;
}

.messageAuthor {
  flex: 0 0 100px;
  padding: 4px;
  text-align: right;
  border-right: 1px solid #c3c3c3;
}

.messageText {
  padding: 4px;
  word-break: break-all;
}

.footer {
  display: flex;
  margin-top: 1px;
}

.authorInput {
  margin-right: 1px;
  width: 100px;
  text-align: right;
}

.messageInput {
  flex: 1 1 0;
  margin-right: 1px;
}

.statusBar {
  padding: 2px;
  height: 21px;
}